#holder {
    border: 3px dashed #ccc;
    width: 300px;
    height: 300px;
    margin: 15px auto;
    padding: 3px;
}

.meta h2{
    font-size: large;
}


.fr-status {
    width: 300px;
    margin: 5px auto;
}

.reading-list {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}